body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

#builds {
  margin-top: 10px;
}

.btn {
  border: 0;
  border-radius: 0;
  height: 30px;
}

.build-commit-details {
  display: flex;
  flex-direction: row;
  height: 75px;
  line-height: 2px;
}

.build-commit-details h1{
  font-size: 30px;
}

.build-commit-details img {
  width:30px;
  height:30px;
  margin-right: 5px;
}

.build-commit-details .build.commit-hash {
  font-style: italic;
}

.build-info {
  background-color: white;
  width: auto;
  height: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

.build-commit-hash {
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
}

.build-stages {
  display: flex;
  flex-direction: row;
}

.build-stage {
  width: 350px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #DDD;
  margin-right: 5px;
  padding: 5px;
}

.build-stage .build-stage-result {
  font-size: 35px;
}

.build-stage .build-stage-name {
  font-size: 20px;
  font-weight: bold;
}

.build-stage.passed .build-stage-result {
  color: #00C794;
}

.build-stage.failed .build-stage-result {
  color: #FF5C26;
}
